@model WebApp.ViewModels.Admin.IAdminPageViewModel
@if (!string.IsNullOrWhiteSpace(Model.SuccessMessage))
{
    <div class="alert alert-success" role="alert">@Model.SuccessMessage</div>
}
@if (!string.IsNullOrWhiteSpace(Model.ErrorMessage))
{
    <div class="alert alert-danger" role="alert">@Model.ErrorMessage</div>
}
<div class="text-danger" asp-validation-summary="ModelOnly"></div>
