@model App.Domain.WorkLog

@{
    ViewData["Title"] = "Edit";
}

<h1>@App.Resources.Views.AdminScaffoldText.Edit</h1>

<h4>WorkLog</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CreatedAt" class="control-label"></label>
                <input asp-for="CreatedAt" class="form-control" />
                <span asp-validation-for="CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkStart" class="control-label"></label>
                <input asp-for="WorkStart" class="form-control" />
                <span asp-validation-for="WorkStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkEnd" class="control-label"></label>
                <input asp-for="WorkEnd" class="form-control" />
                <span asp-validation-for="WorkEnd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hours" class="control-label"></label>
                <input asp-for="Hours" class="form-control" />
                <span asp-validation-for="Hours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaterialCost" class="control-label"></label>
                <input asp-for="MaterialCost" class="form-control" />
                <span asp-validation-for="MaterialCost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LaborCost" class="control-label"></label>
                <input asp-for="LaborCost" class="form-control" />
                <span asp-validation-for="LaborCost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AppUserId" class="control-label"></label>
                <select asp-for="AppUserId" class="form-control" asp-items="ViewBag.AppUserId"></select>
                <span asp-validation-for="AppUserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ScheduledWorkId" class="control-label"></label>
                <select asp-for="ScheduledWorkId" class="form-control" asp-items="ViewBag.ScheduledWorkId"></select>
                <span asp-validation-for="ScheduledWorkId" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">@App.Resources.Views.AdminScaffoldText.BackToList</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
